@model DAL.ViewModel.ViewCase;
 
@{
    ViewData["Title"] = "viewCase";
    if (ViewBag.IsPhysican)
    {
        Layout = "~/Views/Shared/_ProviderDashBoard.cshtml";
    }
    if (!ViewBag.IsPhysican)
    {
        Layout = "~/Views/Shared/_AdminDash.cshtml";
    }
}




<div class="bg-body-secondary">
    <div class="mx-auto pt-4  pb-3" style="width:70%;">
        <div class="d-flex justify-content-between my-2">
            <h3>New Request</h3><br />
            @if (!ViewBag.IsPhysican)
            {
                <a asp-action="AdminDash" asp-controller="AdminDash"><button type="button" class="btn btn-primary btn  border border-info bg-transparent text-info shadow-none text-decoration-none ">Back</button></a>

            }
            else
            {
                <a asp-action="ProviderDashBoard" asp-controller="ProviderDashBoard"><button type="button" class="btn btn-primary btn  border border-info bg-transparent text-info shadow-none text-decoration-none ">Back</button></a>
            }
        </div>
        <div class=" shadow bg-white p-4">
            <h4 class="pt-3 mb-4">Patient Information</h4>

            <p>Confirmation Number</p>
     
            <h4 class="mb-5 text-info">@Model.ConfirmationNumber</h4>

            <form method="post" id="emailForm" enctype="multipart/form-data" asp-action="ViewCase">
                <div class="row">
                    <div class="col col-12 mb-3">
                        <div class="form-floating">
                            <textarea class="form-control"
                            asp-for="Notes"
                                      placeholder="Leave a comment here"
                                      id="floatingTextarea2"
                                      style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Patient Notes</label>
                        </div>
                    </div>
                <div class="row">
                    <div class="col col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="FirstName"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com"  />
                            <label for="floatingInput">First Name</label>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 mb-3">
                        <div class="form-floating">
                            <input type="text"
                                    asp-for="LastName"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" />
                            <label for="floatingPassword">Last Name</label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6 col-12">
                        <div class="form-floating">
                            <input type="date"
                               asp-for="DateOfBirth"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password"  />
                            <label for="floatingPassword">Date Of Birth</label>
                        </div>
                    </div>
                        <div class="col col-sm-5  col-12">
                            <div class="form-floating mb-3">
                                <input type="text"
                                    asp-for="Phone"
                                       class="form-control"
                                       id="floatingPassword"
                                       placeholder="Password"  />
                                <label for="floatingPassword"></label>
                            </div>
                        </div>

                        <div class="col col-sm-1 col-12">
                            <button class=" btn btn-outline-info" style="height:55px">
                                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                            </button>
                        </div>
                </div>

                    <div class="row">
                        <div class="col col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input type="email" id="email"
                                       class="form-control"
                                       asp-for="Email"
                                       id="floatingInput"
                                       placeholder="name@example.com"  />
                                <label for="floatingInput">Email</label>

                            </div>
                        </div>
                     </div>

              

                <h4 class="pt-3 mt-4 mb-4">Location Information</h4>

               
                <div class="row">
                    <div class="col col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="region"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" disabled />
                            <label for="floatingPassword">Region</label>
                        </div>
                    </div>
                    <div class="col col-sm-5 col-12">
                        <div class="form-floating mb-3">
                            <input type="text"
                                asp-for="address"
                                    class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" disabled />
                            <label for="floatingPassword">Business Name/Address</label>
                        </div>
                    </div>

                    <div class="col col-sm-1 col-12">
                        <button class=" btn btn-outline-info" style="height:55px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                        </button>
                    </div>
                    </div>

                        <div class="row">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="email" id="email"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" disabled />
                                    <label for="floatingInput">Room#</label>

                                </div>
                            </div>
                        </div>

                    <div class="d-flex justify-content-end my-1">

                        @if (Model.status == 1)
                        {
                            <button onclick="toggleEdit()" type="button" class="btn border-none bg-info p-2 text-light fw-semibold me-4" id="AssignBtn">
                                Assign
                            </button>
                        }
                        <a asp-action="ViewNotes" asp-controller="AdminDash" asp-route-id="@Model.requestid">
                            <button  type="button" class="btn border-none bg-info p-2 text-light fw-semibold me-4" id="SaveBtn">
                                View Notes
                            </button>
                        </a>
                        <button type="button" class="btn border-none bg-danger p-2 text-light fw-semibold me-4" onclick="openModal(this)" data-requestid="@Model.requestid" data-name="@Model.FirstName">
                            Cancle
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
     </div>

@* -------------------------------Modal--------------------------------------------- *@
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">Confirm Cancellation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form id="ModalFormsubmit">
                <div class="modal-body">
                    <p> Patient Name : <span id="text"></span></p>
                    <select class="form-select" aria-label="Default select example" name="Reason">


                    
                            
                                @foreach (var it in Model.cases)
                                {
                                    <option value="@it.CaseTagId">@it.Name</option>
                                }
                            }
 
                        @*  <option selected>Reason For Cancellation</option>
                        <option value="2">Cost Issue</option>
                        <option value="3">Insurance Issue</option>
                        <option value="4">Out of Service Area</option>
                        <option value="5">Not appropriate for service</option>
                        <option value="6">Referral to Clinic or Hospital</option> *@
                    </select>

                    <input id="requestid" name="Requestid" hidden />
                    <div class="form-floating mt-3">
                        <textarea class="form-control" name="Notes" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">provide Additional Notes</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end mt-3">
                         <button type="submit" class="btn btn-info">Confirm</button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-info ms-3">cancle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@* -------------------------------Modal--------------------------------------------- *@
@* -------------------------*@
@section scripts {
    <!-- jQuery script -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>


        function openModal(btn) {
            console.log("Button clicked");

            const myModal = document.getElementById("modalForm");
            var bsModal = new bootstrap.Modal(myModal);
            bsModal.show();

            const requestid = btn.getAttribute('data-requestid');
            document.getElementById('requestid').value = requestid;
            const name = btn.getAttribute('data-name');
            document.getElementById('text').textContent = name;

        }


        $(document).ready(function () {

            $('#ModalFormsubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/CancelCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#modalForm').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#modalForm').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });


        });

    </script>
}



@* ------------------------- *@

