@model List<DAL.DataModels.User>
<table class="table mb-0">

    <tbody class="table-secondary text-center">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </tbody>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="text-center">

                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>@item.Street, @item.City, @item.ZipCode</td>
                <td>
                    <a asp-route-userid="@item.UserId" asp-action="ExploreRecords" class="btn btn-outline-info">Explore</a>
                </td>

            </tr>
        }
    </tbody>

</table>
<div class="pb-3 z-1 mt-3">
    <nav id="pagination" class="mb-5" aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-0">
            @if (ViewBag.CurrentPage >= 1 && ViewBag.CurrentPage <= ViewBag.TotalPages)
            {
                int prevpage = Convert.ToInt32(ViewBag.CurrentPage) - 1;
                int currpage = Convert.ToInt32(ViewBag.CurrentPage);
                int nextpage = Convert.ToInt32(ViewBag.CurrentPage) + 1;
                if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" id="previous" data-page="@(prevpage)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                    </li>
                }
                for (int z = 0; z < 3; z++)
                {
                    if (currpage + z <= ViewBag.TotalPages)
                    {
                        <li class="page-item @(currpage + z ==ViewBag.CurrentPage ?"active":"")">
                            <a class="page-link" id="current_@z" data-page="@(currpage + z)" aria-label="Current">
                                <span>@(ViewBag.CurrentPage + z)</span>
                            </a>
                        </li>
                    }
                }
                if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" id="next" data-page="@(nextpage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </li>
               }
            }
        </ul>
    </nav>
</div>